<!DOCTYPE html>
<html lang="utf-8">

<head>

    <title>萍水相逢</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/article.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"><i class="fas fa-feather navbar-brand-icon"></i>萍水相逢</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-book-open nav-icon-book"></i>文章
                    </a>
                    <div class="dropdown-menu" style="text-align:center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">感人系列</a>
                        <a class="dropdown-item" href="#">科幻系列</a>
                        <a class="dropdown-item" href="#">冒險系列</a>
                        <a class="dropdown-item" href="#">靈異系列</a>
                        <a class="dropdown-item" href="#">生活系列</a>
                        <a class="dropdown-item" href="#">愛情系列</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bookmark nav-icon-bookmark"></i>收藏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home nav-icon-home"></i>小屋</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <h1>文章列表</h1>
        <center>
            <hr class="highlight">
        </center>
        <div class="col-lg-8 mx-auto">
            <!-- list -->
            <div class="card card-set" onclick="location.href='article.html'" style="cursor:pointer; ">
                <div class="card-body ">
                    <div class="row seperate">
                        <div class="col-sm-9 articleContent">
                            <h3 class="card-title">一碗泡麵</h3>
                            <div class="label">感人故事</div>
                            <p class="card-text limitLine">
                                他是個單親爸爸，獨自撫養一個七歲的小男孩。每當孩子和朋友玩耍受傷回來，他對過世妻子留下的缺憾，便感受尤深，心底不免傳來陣陣悲涼的低鳴。這是他留下孩子出差當天發生的事。因為要趕火車，沒時間陪孩子吃早餐，他便匆匆離開了家門。一路上擔心著孩子有沒有吃飯，會不會哭，心老是放不下。即使抵達了出差地點，也不時打電話回家。
                                可孩子總是很懂事地要他不要擔心。然而因為心裡牽掛不安，便草草處理完事情，踏上歸途。回到家時孩子已經熟睡了，他這才松了一口氣。旅途上的疲憊，讓他全身無力。
                                正準備就寢時，突然大吃一驚：棉被下麵，竟然有一碗打翻了的泡麵！「這孩子！」他在盛怒之下，朝熟睡中的兒子的屁股，一陣狠打。
                                「為什麼這麼不乖，惹爸爸生氣？你這樣調皮，把棉被弄？要給誰洗？」
                                這是妻子過世之後，他第一次體罰孩子。「我沒有......」孩子抽抽咽咽地辯解著：「我沒有調皮，這......這是給爸爸吃的晚餐。」原來孩子為了配合爸爸回家的時間，
                                特地泡了兩碗泡面，一碗自己吃，另一碗給爸爸。可是因為怕爸爸那碗面涼掉，所以放進了棉被底下保溫。爸爸聽了，不發一語地緊緊抱住孩子。看著碗裡剩下那一半已經泡漲的泡面：
                                「啊 ！孩子，這是世上最...最美味的泡面啊！」世上最美味的泡面孩子即使再年幼，也有他們的尊嚴，如果父母發現錯怪了孩子，要勇敢向他們說：「對不起！」。
                            </p>
                        </div>
                        <div class="CardImg col-lg-3"></div>
                    </div>
                    <hr>
                    <div class="name">
                        HaoHao 於 2019-08-11 10:48發表
                    </div>
                </div>
                <!-- info -->
                <div class="info">
                    <button type="button" class="btn"><i
                            class="fas fa-hand-holding-heart icon-set"></i><a>50</a></button>
                    <button type="button" class="btn"><i class="far fa-comments icon-set"></i><a>12</a></button>
                    <button type="button" class="btn"><i class="fas fa-bookmark icon-set"></i></button>
                </div>
                <!-- info結束 -->
            </div>
        </div>

        <div class="col-lg-8 mx-auto">
                <!-- list -->
                <div class="card card-set" onclick="location.href='article.html'" style="cursor:pointer; ">
                    <div class="card-body ">
                        <div class="row seperate">
                            <div class="col-sm-9 articleContent">
                                <h3 class="card-title">一碗泡麵</h3>
                                <div class="label">感人故事</div>
                                <p class="card-text limitLine">
                                    他是個單親爸爸，獨自撫養一個七歲的小男孩。每當孩子和朋友玩耍受傷回來，他對過世妻子留下的缺憾，便感受尤深，心底不免傳來陣陣悲涼的低鳴。這是他留下孩子出差當天發生的事。因為要趕火車，沒時間陪孩子吃早餐，他便匆匆離開了家門。一路上擔心著孩子有沒有吃飯，會不會哭，心老是放不下。即使抵達了出差地點，也不時打電話回家。
                                    可孩子總是很懂事地要他不要擔心。然而因為心裡牽掛不安，便草草處理完事情，踏上歸途。回到家時孩子已經熟睡了，他這才松了一口氣。旅途上的疲憊，讓他全身無力。
                                    正準備就寢時，突然大吃一驚：棉被下麵，竟然有一碗打翻了的泡麵！「這孩子！」他在盛怒之下，朝熟睡中的兒子的屁股，一陣狠打。
                                    「為什麼這麼不乖，惹爸爸生氣？你這樣調皮，把棉被弄？要給誰洗？」
                                    這是妻子過世之後，他第一次體罰孩子。「我沒有......」孩子抽抽咽咽地辯解著：「我沒有調皮，這......這是給爸爸吃的晚餐。」原來孩子為了配合爸爸回家的時間，
                                    特地泡了兩碗泡面，一碗自己吃，另一碗給爸爸。可是因為怕爸爸那碗面涼掉，所以放進了棉被底下保溫。爸爸聽了，不發一語地緊緊抱住孩子。看著碗裡剩下那一半已經泡漲的泡面：
                                    「啊 ！孩子，這是世上最...最美味的泡面啊！」世上最美味的泡面孩子即使再年幼，也有他們的尊嚴，如果父母發現錯怪了孩子，要勇敢向他們說：「對不起！」。
                                </p>
                            </div>
                            <div class="CardImg col-lg-3"></div>
                        </div>
                        <hr>
                        <div class="name">
                            HaoHao 於 2019-08-11 10:48發表
                        </div>
                    </div>
                    <!-- info -->
                    <div class="info">
                        <button type="button" class="btn"><i
                                class="fas fa-hand-holding-heart icon-set"></i><a>50</a></button>
                        <button type="button" class="btn"><i class="far fa-comments icon-set"></i><a>12</a></button>
                        <button type="button" class="btn"><i class="fas fa-bookmark icon-set"></i></button>
                    </div>
                    <!-- info結束 -->
                </div>
            </div>

    </div>

    </div>
    <!-----------------------------------scrpit-------------------------------------------->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/javascripts/vue.js"></script>

    <!------------------------------------------------------------------------------------->

</body>

</html>